@import url(colors.css);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  padding: 20px 50px;
  background-color: white;
}

.search-section {
  background-color: rgb(254, 254, 253, 0.95);
  border-radius: 9px;
  box-shadow: 0 0 9px 3px rgb(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 9px 3px rgb(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 9px 3px rgb(0, 0, 0, 0.1);
  overflow: hidden;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 8fr minmax(290px, 1fr);
  padding: 13px 16px;
  gap: 19px;
  margin-bottom: 60px;
}

.search {
  background-color: #efeee7;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 19px;
  padding: 6px 14px;
  border-radius: 9px;
  overflow: hidden;

  img {
    height: 18px;
    margin: 4px;
  }

  input {
    all: unset;
    border: none;
    background-color: inherit;
  }
}

.search-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 19px;

  button {
    height: 100%;
    border: none;
    border-radius: 9px;
    background: none;

    &:hover {
      background-color: #efeee7;
    }

    img {
      height: 20px;
      margin-right: 8px;
    }

    span {
      position: relative;
      bottom: 5px;

    }
  }
}

@keyframes popup {
  from {
    transform: scale(0.4);
    opacity: 0;
    backdrop-filter: blur(0px);
  }

  to {
    transform: scale(1);
    display: grid;
    opacity: 1;
    backdrop-filter: blur(40px);
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeoutAnimation {
  animation: fadeout 250ms linear forwards;
}

.cause-type-grid {
  display: grid;
  grid-template-columns: repeat(4, 22.9%);
  grid-template-rows: repeat(4, 208px);
  grid-template-areas:
    "aapi-led aapi-led adoption afghanistan"
    "animals autism art black-led"
    "climate housing housing ."
    "climate housing housing .";
  gap: 40px;
  margin-bottom: 100px;
}

.card {
  border-radius: 9px;
  overflow: hidden;
  background-color: #f5f4ed;
  color: #1b4332;
  box-shadow: 0 0 9px 3px rgb(0, 0, 0, 0.1);
-webkit-box-shadow: 0 0 9px 3px rgb(0, 0, 0, 0.1);
-moz-box-shadow: 0 0 9px 3px rgb(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 70ms ease-in;

  &:hover {
    transform: scale(1.01);
  }

  &:active {
    transform: scale(0.99);
  }

  .card-title {
    display: flex;
    max-height: 50px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Noto Serif', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
    font-size: 10px;

    .icon {
      padding: 12px;
      width: 40px;
      background-color: rgb(255, 255, 255, 1.2);
      aspect-ratio: 1;
      width: max-content;
      border-radius: 50%;
    }
  }

  .card-meta {
    max-width: 430px;
    display: grid;
    gap: 9px;
  }

  .card-button {
    width: max-content;

    button {
      width: 100%;
      padding: 8px 19px;
      border: none;
      background-color: #a1f4c8;
      border-radius: 8px;

      &:hover {
        background-color: white;
      }
    }
  }

}

h1,
h2,
h3 {
  font-weight: 400;
  font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

.cause-type-grid {
  .aapi-led {
    grid-area: aapi-led;
    background-color: #1b4332;
    color: white;
  }

  .adoption {
    grid-area: adoption;
  }

  .afghanistan {
    grid-area: afghanistan;
  }

  .animals {
    grid-area: animals;
  }

  .autism {
    grid-area: autism;
    background-color: #ffdf96;
  }

  .art {
    grid-area: art;
  }

  .black-led {
    grid-area: black-led;
    background-color: #012d1d;
    color: white;

    .icon {
      background-color: rgb(200, 200, 200, 0.1);
    }
  }

  .climate {
    grid-area: climate;
  }

  .housing {
    grid-area: housing;
    background-image: url(../assets/catalogue/sq-house.png), linear-gradient(0deg, #012D1D 0%, rgba(1, 45, 29, 0.4) 50%, rgba(1, 45, 29, 0) 100%);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column-reverse;
  }
}

.cause-categories {
  border: none;
  border-top: 1px solid lightgray;

  legend {
    font-size: 30px;
    margin-bottom: 20px;
    padding-right: 20px;
  }
}

.causes-grid-all {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;

  .category {
    height: 50px;
    border: none;
    box-shadow: 0 0 2px 2px rgb(0, 0, 0, 0.01);
    -webkit-box-shadow: 0 0 2px 2px rgb(0, 0, 0, 0.01);
    -moz-box-shadow: 0 0 2px 2px rgba(0,0,0,0.01);
    border-radius: 9px;
    background-color: #f5f4ed;
    font-weight: 400;

    &:hover {
      background-color: #a1f4c8;
    }
  }
}

.overlay {
  z-index: 90;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  backdrop-filter: blur(8px);

  padding: 60px;

  transform: scale(0.4);
  animation: popup 250ms ease-out forwards;
}

.overlayHeading {
  text-align: center;
  position: absolute;
  top: 20px;
  left: 90px;
  text-align: left;
}

.overlayHeading h3 {
  color: var(--primary-color);
  font-size: 19px;
}

.overlayHeading h1 {
  color: rgba(5, 5, 5, );
  font-size: 38px;
}


.overlayInner {
  border-radius: 9px;

  background-color: #f5f4ed;
  overflow-X: scroll;
  overflow-Y: hidden;
  height: 80vh;

  display: grid;
  grid-auto-flow: column;
  grid-template-rows: minmax(auto, 800px) 100px 1fr 100px;
  gap: 10px;

  padding: 20px;
  margin-top: 50px;

  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: hidden;
  }
}

.causeCards {
  flex-shrink: 0;
  background-color: var(--bg-color);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 400px;
  min-height: 400px;

  display: grid;
  grid-row: span 4;
  grid-template-rows: subgrid;

  .card-info {
    padding: 1.5rem;
  }


  .card-img {
    background-size:cover;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .card-meta {
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 50px;
    align-items: space-between;
    gap: 10px;

    h2 {
      color: var(--primary-color);
      grid-column: 1 / span 2;
    }

    p {
      grid-column: 1 / span 2;
    }

    button {
      height: 100%;
      width: max-content;
      border: none;
      border-radius: 9px;
      background-color: var(--primary-color);
      color: white;
      padding: 10px 20px;
      transition: all 150ms ease-in;

      &:hover {
        transform: scale(1.04);
      }
    }
  }
}

.close-button {
  position: absolute;
  width: 38px;
  height: 38px;

  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);
  top: 20px;
  right: 20px;

  cursor: pointer;
  transition: all 250ms ease;

  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button::before,
.close-button::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  background: white;
  border-radius: 2px;
  transition: 0.25s ease;
}

.close-button::before {
  transform: rotate(45deg);
}

.close-button::after {
  transform: rotate(-45deg);
}

.close-button:hover {
  background: var(--primary-color);
  transform: rotate(-90deg);
}

.close-button:active {
  transform: scale(0.90);
  transform: rotate(-90deg);
}

@media (max-width: 768px) {

  .cause-type-grid {
    grid-template-columns: repeat(2, 40vw);
    grid-template-rows: repeat(5, 200px) 250px;
    grid-template-areas:
      "aapi-led aapi-led"
      "adoption afghanistan"
      "animals autism "
      "art black-led"
      "climate climate"
      "housing housing"
      "housing housing";
    gap: 20px;
    margin-bottom: 100px;
  }

  .causes-grid-all {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .search-section {
    width: 83vw;
  }

  .search {
    width: fit-content;
  }

  .search-buttons {
    span {
      display: none;
    }

    margin-left: 200px
  }

  .housing {
    background-image: none;
    background: none;
  }
}