@import url(colors.css);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*
body {
background-color:  var(--cards-backdrop);
}
.causes-section {
padding: 40px 90px;
}

.causes-grid{
display: grid;
gap: 35px;
grid-template-columns: 1fr 1fr 1fr;
}

.cause-card {
height: 50vw;
border-radius: 12px;
overflow: hidden;
background-color: var(--bg-color);
}
add media query to cause-card  super super important don't forget 

.cause-card .cause-card_image-div {
aspect-ratio: 1/1;
width: 100%;
background-color: white;
overflow: hidden;
}

.cause-card_image-div img {
object-fit:fill;
width: 100%;
height: 100%;
border-radius: 7px 7px 0 0;
}
.cause-card_body {
padding: 32px;
text-overflow: ellipsis;
}

.cause-card_body h2 {
font-size: 24px;
font-weight: 530;
padding-bottom: 16px;
color: var(--font-main);
} 

.cause-meta {
width: 100%;
display: grid;
grid-template-columns: 1fr 2fr 1fr;
margin-top: 3px;
row-gap: 3px;
}

.cause-meta .cause-card_raised {
grid-column: 1/span 3;
} 


.cause-card_progress-bar {
width: 100%;
height: 9px;
background-color: var(--secondary-color) ;
overflow: hidden;
border-radius: 3px;
grid-column: 1/ span 3;
}
.cause-card_progress-bar .cause-card_progress-fill {
display: block;
height: 100%;
background-color: var(--primary-color);
width: 100px;
} 

.cause_goal-goal{
grid-column-start: 3;
}

progress{
height: 9px;
border-radius: 9px;
border: 0;
grid-column: 1/ span 3;
background-color: var(--secondary-color);
color: white;
}

progress::-moz-progress-bar{
background-color: var(--primary-color);
}
progress::-webkit-progress-bar{
background-color: var(--primary-color);
}

.cause-description {
overflow: hidden;
max-height: 100%;
}

.donate_button {
border
} */


/* THIS IS WORK IN PROGRESS */
/* I WILL REFORMAT THE PAGE TO USE SUBGRID INSTEAD */

main {
    background-color: var(--cards-backdrop);
}

.causes-section {
    margin-bottom: 5px;
    padding: 20px 80px;
}

.causes-list {
    list-style-type: none;
}

.cards-wrapper {
    columns: 300px;

}

.card {
    margin-bottom: 2rem;
    background-color: var(--bg-color);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.card-info {
    padding: 1.5rem;
}

.card-img {
    background-color: var(--secondary-color);
    background-size: cover;
    width: fit-content;

    img {
        width: 100%;
    }
}

.card-meta {
    padding: 30px 20px;
    gap: 10px
}

.causes-list {
    display: flex;
    justify-content: space-around;

    padding: 4px;
    margin: 18px 0;
    border-radius: 9px;

    button {
        border: 0;
        border-radius: 6px;
        padding: 9px 15px;
        background-color: var(--primary-color);
        color: white;

        &:hover {
            background-color: #40916c;
        }
    }
}